In [1]:
#pre processinf steps
import pandas as pd
df = pd.read_csv('C:/Users/drkir/Downloads/california_housing_sklearn.csv')

In [3]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,SalePrice
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [4]:
df = df.dropna()

In [5]:
df = df.drop_duplicates()

In [6]:
print(df.columns)

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'SalePrice'],
      dtype='object')

In [7]:
df.tail()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,SalePrice
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [8]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,SalePrice
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [10]:
df['MedInc'] = pd.to_numeric(df['HouseAge'], errors='coerce')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
print(df.columns)

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'SalePrice'],
      dtype='object')

In [11]:
df[['AveRooms']] = scaler.fit_transform(df[['AveBedrms']])

In [12]:
df = pd.get_dummies(df, columns=['Population'])
df['Latitude'] = pd.to_datetime(df['Longitude'])

In [13]:
df.duplicated().sum()

0

In [14]:
df.isna().sum()

MedInc                0
HouseAge              0
AveRooms              0
AveBedrms             0
AveOccup              0
                     ..
Population_15507.0    0
Population_16122.0    0
Population_16305.0    0
Population_28566.0    0
Population_35682.0    0
Length: 3896, dtype: int64

In [15]:
df.loc[0,'HouseAge']

41.0

In [16]:
df.fillna

<bound method DataFrame.fillna of        MedInc  HouseAge  AveRooms  AveBedrms  AveOccup  \
0        41.0      41.0 -0.153758   1.023810  2.555556
1        21.0      21.0 -0.263336   0.971880  2.109842
2        52.0      52.0 -0.049016   1.073446  2.802260
3        52.0      52.0 -0.049833   1.073059  2.547945
4        52.0      52.0 -0.032906   1.081081  2.181467
...       ...       ...       ...        ...       ...
20635    25.0      25.0  0.077354   1.133333  2.560606
20636    18.0      18.0  0.462365   1.315789  3.122807
20637    17.0      17.0  0.049414   1.120092  2.325635
20638    18.0      18.0  0.158778   1.171920  2.123209
20639    16.0      16.0  0.138403   1.162264  2.616981

                           Latitude  Longitude  SalePrice  Population_3.0  \
0     1969-12-31 23:59:59.999999878    -122.23      4.526           False
1     1969-12-31 23:59:59.999999878    -122.22      3.585           False
2     1969-12-31 23:59:59.999999878    -122.24      3.521           False
3     1969-12-31 23:59:59.999999878    -122.25      3.413           False
4     1969-12-31 23:59:59.999999878    -122.25      3.422           False
...                             ...        ...        ...             ...
20635 1969-12-31 23:59:59.999999879    -121.09      0.781           False
20636 1969-12-31 23:59:59.999999879    -121.21      0.771           False
20637 1969-12-31 23:59:59.999999879    -121.22      0.923           False
20638 1969-12-31 23:59:59.999999879    -121.32      0.847           False
20639 1969-12-31 23:59:59.999999879    -121.24      0.894           False

       Population_5.0  ...  Population_12203.0  Population_12427.0  \
0               False  ...               False               False
1               False  ...               False               False
2               False  ...               False               False
3               False  ...               False               False
4               False  ...               False               False
...               ...  ...                 ...                 ...
20635           False  ...               False               False
20636           False  ...               False               False
20637           False  ...               False               False
20638           False  ...               False               False
20639           False  ...               False               False

       Population_12873.0  Population_13251.0  Population_15037.0  \
0                   False               False               False
1                   False               False               False
2                   False               False               False
3                   False               False               False
4                   False               False               False
...                   ...                 ...                 ...
20635               False               False               False
20636               False               False               False
20637               False               False               False
20638               False               False               False
20639               False               False               False

       Population_15507.0  Population_16122.0  Population_16305.0  \
0                   False               False               False
1                   False               False               False
2                   False               False               False
3                   False               False               False
4                   False               False               False
...                   ...                 ...                 ...
20635               False               False               False
20636               False               False               False
20637               False               False               False
20638               False               False               False
20639               False               False               False

       Population_28566.0  Population_35682.0
0                   False               False
1                   False               False
2                   False               False
3                   False               False
4                   False               False
...                   ...                 ...
20635               False               False
20636               False               False
20637               False               False
20638               False               False
20639               False               False

[20640 rows x 3896 columns]>

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Columns: 3896 entries, MedInc to Population_35682.0
dtypes: bool(3888), datetime64[ns](1), float64(7)
memory usage: 77.8 MB

In [18]:
df.shape

(20640, 3896)